<app-navbar></app-navbar>
<div style="height: 1000px; margin-top: 750px">
  <!-- just to make scrolling effect possible -->
  <h2 class="myH2">What is eSignature ?</h2>
  <p class="myP">
    Signing and approving documents carries a certain risk in the hectic pace of day-to-day business.

    Nowadays, almost all documents are created, processed and transmitted in digital form.

    Despite this, documents that have already been scanned are often printed only because they need to be signed by one or more people.

    Then the documents are scanned and digitized again. It also happens that important and urgent processes are stopped because the managers are not physically present and therefore cannot sign in person. This results in wasted time that can ultimately delay entire work processes.

    <br>
    <br>
    <br>
    <img src="assets/xxx.PNG">
    <br>
    <img src="assets/xx.PNG">
  </p>

</div>
