<nav class="nav navbar-fixed-top ">
  <div class="container">
    <div class="logo">
      <img routerLink="" src="../assets/images.png">
    </div>
    <div class="logo">
      <a routerLink="" style="color: #111111">E-SIGN</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks" >
        <li><a routerLink="/login" style="color: #111111">LogIn</a></li>
        <li><a routerLink="/signup" style="color: #111111">SignUp</a></li>
        <!--<li><a routerLink="" style="color: #111111">About</a></li>-->
      </ul>
    </div>
    <span class="navTrigger" style="margin-left: 1000px">
      <div>
        <a routerLink="/login" style="color: #111111; margin: 0 0 10px 10px">LogIn</a>
        <a routerLink="/signup" style="color: #111111; margin: 10px 0 0 10px">SignUp</a>
        <!--<a routerLink="" style="color: #111111; margin: 10px 0 0 10px">About</a>-->
      </div>
    </span>
  </div>
</nav>
